/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}body { line-height: 1;}ol, ul { list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none;}table { border-collapse: collapse; border-spacing: 0;}

body {
	font: normal 22px 'Slabo 13px', serif;
	text-align: center;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	flex: 0 0 auto;
	padding: 8px 0 4px;
	background: #ddd;
	border-bottom: 4px solid #ccc;
}

footer {
	flex: 0 0 auto;
	padding: 10px 0;
	background: #ddd;
	border-top: 4px solid #ccc;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.not-found {
	flex: 0 0 auto;
	margin: 50px auto;
}

.content {
	flex: 1;
	margin: 5%;
}

.panel {
	flex: 0 0 auto;
	background: #eee;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 4px solid #ccc;
	user-select: none;
}

.depth {
	flex: 1;
	display: block;
	padding: 10px 0;
	background: #eee;
	font-size: 30px;
}

.depth:first-child {
	border-right: 2px solid #ccc;
}

.depth:nth-child(2) {
	border-left: 2px solid #ccc;
}

.group {
	margin-top: 30px;
	display: block;
}

input {
	width: 130px;
}

.lone-button {
	padding: 10px 0;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.navigation li {
	border-top: 2px solid #ddd;
	padding: 10px 0;
}

.navigation .active {
	background: #ddd;
	color: #666;
}

a {
	color: #000;
	text-decoration: none;
}

a:not(.disabled):hover {
	color: #c00;
}

.disabled {
	color: #aaa;
	pointer-events: none;
	-webkit-touch-callout: none;
	user-select: none;
}

input[type=text] {
	height: 35px;
	font-size: 24px;
}

h1 {
	display: inline;
	font-size: 28px;
}

h2 {
	font-size: 42px;
	margin-bottom: 10px;
}

svg {
	margin: auto;
	width: 100%;
}

.wide-only {
	display: none;
}

@media all and (min-width: 700px) {
	.wide-only {
		display: block;
	}

	.main {
		flex-direction: row;
		justify-content: space-between;
	}

	.navigation {
		order: 1;
		border-right: 4px solid #ccc;
	}

	.navigation li {
		border-top: none;
		border-bottom: 2px solid #ddd;
	}

	.content {
		flex: 1;
		order: 2;
		margin: 30px;
		align-self: center;
	}

	.panel {
		width: 150px;
	}

	.controls {
		order: 3;
		flex-direction: column;
		border-bottom: none;
		border-left: 4px solid #ccc;
		justify-content: flex-start;
	}

	.depth {
		flex: 0 0 auto;
	}

	.depth:first-child {
		border: none;
	}

	.depth:nth-child(2) {
		border-left: none;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
	}
}

@media all and (min-width: 700px) and (max-height: 649px) {
	svg {
		max-height: 480px;
	}
}

@media all and (min-width: 700px) and (min-height: 650px) {
	.wrapper {
		height: 100vh;
	}

	svg {
		max-height: calc(100vh - 170px);
	}
}
