@import url('reset.css');
@import url('//fonts.googleapis.com/css?family=Slabo+13px');

body {
	font: 22px normal 'Slabo 13px', serif;
	text-align: center;
}

.wrapper {
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

header {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 8px 0 4px;
	background: #ddd;
	border-bottom: 4px solid #ccc;
}

footer {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 10px 0;
	background: #ddd;
	border-top: 4px solid #ccc;
}

.main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.not-found {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 50px auto;
}

.content {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 5%;
}

.panel {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background: #eee;
}

.controls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 4px solid #ccc;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.depth {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	padding: 10px 0;
	background: #eee;
	font-size: 30px;
}

.depth:first-child {
	border-right: 2px solid #ccc;
}

.depth:nth-child(2) {
	border-left: 2px solid #ccc;
}

.group {
	margin-top: 30px;
	display: block;
}

input {
	width: 130px;
}

.lone-button {
	padding: 10px 0;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.navigation li {
	border-top: 2px solid #ddd;
	padding: 10px 0;
}

.navigation .active {
	background: #ddd;
	color: #666;
}

a {
	color: #000;
	text-decoration: none;
}

a:not(.disabled):hover {
	color: #c00;
}

.disabled {
	color: #aaa;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=text] {
	height: 35px;
	font-size: 24px;
}

h1 {
	display: inline;
	font-size: 28px;
}

h2 {
	font-size: 42px;
	margin-bottom: 10px;
}

svg {
	margin: auto;
	width: 100%;
}

.wide-only {
	display: none;
}

@media all and (min-width: 700px) {
	.wide-only {
		display: block;
	}

	.main {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.navigation {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		border-right: 4px solid #ccc;
	}

	.navigation li {
		border-top: none;
		border-bottom: 2px solid #ddd;
	}

	.content {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		margin: 30px;
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}

	.panel {
		width: 150px;
	}

	.controls {
		-webkit-box-ordinal-group: 4;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		border-bottom: none;
		border-left: 4px solid #ccc;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.depth {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}

	.depth:first-child {
		border: none;
	}

	.depth:nth-child(2) {
		border-left: none;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
	}
}

@media all and (min-width: 700px) and (max-height: 649px) {
	svg {
		max-height: 480px;
	}
}

@media all and (min-width: 700px) and (min-height: 650px) {
	.wrapper {
		height: 100vh;
	}

	svg {
		max-height: calc(100vh - 170px);
	}
}
