@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Slabo+13px);

body {
	font: 22px normal 'Slabo 13px', serif;
	text-align: center;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	padding: 8px 0 4px;
	background: #ddd;
	border-bottom: 4px solid #ccc;
}

footer {
	padding: 10px 0;
	background: #ddd;
	border-top: 4px solid #ccc;
}

.main {
	flex: 1 0 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.not-found {
	margin: 50px auto;
}

.content {
	margin: 5%;
}

.panel {
	background: #eee;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 4px solid #ccc;
	user-select: none;
}

.extra {
	display: none;
}

.depth {
	flex: 1;
	display: block;
	padding: 10px 0;
	background: #eee;
	font-size: 30px;
}

.depth:first-child {
	border-right: 2px solid #ccc;
}

.depth:nth-child(2) {
	border-left: 2px solid #ccc;
}

.navigation {
}

.navigation li {
	border-top: 2px solid #ddd;
}

.navigation .active {
	padding: 10px 0;
	background: #ddd;
	color: #666;
}

.navigation a {
	display: block;
	padding: 10px 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #c00;
}

.disabled {
	color: #aaa;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=text] {
	height: 35px;
	font-size: 24px;
}

h1 {
	display: inline;
	font-size: 28px;
}

h2 {
	font-size: 42px;
	margin-bottom: 10px;
}

svg {
	margin: auto;
	width: 100%;
}

@media all and (min-width: 700px) {
	.main {
		flex-direction: row;
		justify-content: space-between;
	}

	.navigation {
		order: 1;
		border-right: 4px solid #ccc;
	}

	.navigation li {
		border-top: none;
		border-bottom: 2px solid #ddd;
	}

	.content {
		flex: 1;
		order: 2;
		margin: 30px;
		align-self: center;
	}

	.panel {
		width: 150px;
	}

	.controls {
		order: 3;
		flex-direction: column;
		border-bottom: none;
		border-left: 4px solid #ccc;
		justify-content: flex-start;
	}

	.extra {
		margin-top: 30px;
		display: block;
	}

	input {
		width: 130px;
	}

	.depth {
		flex: 0;
	}

	.depth:first-child {
		border: none;
	}

	.depth:nth-child(2) {
		border-left: none;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
	}
}
