{{ define "index" }}
{{ template "header" . }}

<div class="main">
	<div class="panel controls">
		{{ if gt .Depth 0 }}
			<a id="DecDepth" class="depth"
				href="/{{ .Name }}/{{ add .Depth -1}}{{ .Query }}">DEC</a>
		{{ else }}
			<a id="DecDepth" class="depth disabled" href="#">DEC</a>
		{{ end }}
		{{ if lt .Depth .MaxDepth }}
			<a id="IncDepth" class="depth"
				href="/{{ .Name }}/{{ add .Depth 1}}{{ .Query }}">INC</a>
		{{ else }}
			<a id="IncDepth" class="depth disabled" href="#">INC</a>
		{{ end }}

		<form id="ExtraForm" class="wide-only" action="/{{ .Name }}/{{ .Depth }}" method="get">
			<div class="group">
				<label for="Thickness">thickness</label>
				<input id="Thickness" name="t" type="range" min="0.25" max="10"
					step="0.25" value="{{ .Thickness }}">
			</div>

			<div class="group">
				<label for="Color">colour</label>
				<input id="Color" name="c" type="text" value="{{ .Color }}">
			</div>

			<div id="Submit" class="group">
				<input type="submit" value="Update">
			</div>

			<div class="group lone-button">
				<a id="Download" href="/{{ .Name }}/{{ .Depth }}.svg{{ .Query }}" target="_blank">Download</a>
			</div>
		</form>
	</div>
	<div id="Curve" class="content">
		{{ .SVG }}
	</div>
	<nav class="panel navigation">
		<ul>
			{{ range $name := .Systems }}
				{{ if eq $name $.Name }}
					<li class="active">
						<a class="nav-link disabled" href="#">{{ $name }}</a>
					</li>
				{{ else }}
					<li>
						<a class="nav-link" href="/{{ $name }}{{ $.Query }}">{{ $name }}</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</nav>
</div>

<script>
	var _NAME = '{{ .Name }}';
	var _MAX_DEPTH = '{{ .MaxDepth }}';
	var _STEP_FACTOR = {{ .StepFactor }};
	var _PAD_FACTOR = {{ .PadFactor }};
	var _depth = {{ .Depth }};
	var _thickness = '{{ .Thickness }}';
	var _color = '{{ .Color }}';
</script>
<script src="/static/js/script.js"></script>

{{ template "footer" . }}
{{ end }}
